# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
APP_NAME= "Practice apis"
ACCESS_TOKEN_SECRET=hjbhjsbcxhhxyee7e737733gdsyey73y73
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=hjbhjsbcxhhxyee7e737733gdsyey73y737878uyg87
REFRESH_TOKEN_EXPIRY=10d
API_ROUTE= "/api/v1"
HOST="127.0.0.1"
PORT=5105
# DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"
DATABASE_URL="mysql://root:@127.0.0.1:3306/chatapp"

CORS_ORIGIN=http://localhost:3000